# port for API server
HTTP_PORT=3001

# CSPR.cloud related configurations
CSPR_CLOUD_URL="https://api.testnet.cspr.cloud"
CSPR_CLOUD_STREAMING_URL="wss://streaming.testnet.cspr.cloud"
CSPR_CLOUD_ACCESS_KEY="55f79117-fc4d-4d60-9956-65423f39a06a"

# The contract package hash of the main lottery smart contract
LOTTERY_CONTRACT_PACKAGE_HASH=b02e848ea6a8c3fa0aed417d5908610e5baca91f76994c15d5a556c71c344dac

# Database Creds
DB_URI=mysql://root:password@localhost:3306/lottery

TZ=UTC
